.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 32px 0;
}

nav {
  position: relative;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 80px;
}

.navigation-dialogue {
  display: none;
}

.navigation > ul {
  flex-direction: row;
  column-gap: 32px;
}

button {
  font-family: "Inter", sans-serif;
  letter-spacing: 1.6px;
  font-size: 18px;
  color: rgb(164, 164, 164);
  background: none;
  border: none;
  cursor: pointer;
}

.sound_control {
  position: relative;
}

.sound_control > svg {
  display: block;
  height: 24px;
  width: 24px;
  stroke: rgb(164, 164, 164);
  cursor: pointer;
}

.no-sound.sound_control::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg) translate(0, -50%);
  display: block;
  height: 3px;
  width: 110%;
  background: rgb(164, 164, 164);
}

/* For screens less than 700px */
@media only screen and (max-width: 700px) {
  .navigation > ul {
    display: none;
  }
}
