.mobile-nav-overlay {
  display: none;
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translateY(50%);
  border-radius: 20px;
  background: rgb(27, 33, 30);
  background: linear-gradient(
    132deg,
    rgba(27, 33, 30, 0.5) 0%,
    rgba(25, 37, 30, 0.6) 100%
  );
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.125);
  z-index: 10000;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 16px;
  row-gap: 48px;
}

.mobile-nav > ul {
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.mobile-nav > ul > li > button > svg {
  height: 20px;
  width: 20px;
}

/* For screens less than 700px */
@media only screen and (max-width: 700px) {
  .mobile-nav-overlay {
    display: block;
  }

  button {
    text-transform: uppercase;
  }
}
