.carousel-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.carousel-btns {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  z-index: 1000;
}

/* For screens less than 700px */
@media only screen and (max-width: 700px) {
  .carousel-wrapper {
    flex-direction: column;
    row-gap: 24px;
  }

  .carousel-btns {
    flex-direction: row;
    column-gap: 24px;
  }
}
