.bubble-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 16px;
  font-size: 14px;
  padding: 16px 24px;
  border-radius: 30px 30px 30px 5px;
  user-select: none;
  overflow: hidden;
  width: 220px;
  background: rgb(27, 33, 30);
  background: linear-gradient(
    132deg,
    rgba(27, 33, 30, 0.5) 0%,
    rgba(25, 37, 30, 0.6) 100%
  );
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.125);
}

.bubble-container.bubble-container_0 {
  top: 11%;
  left: 50%;
}

.bubble-container.bubble-container_1 {
  top: 11%;
  left: 50%;
}

.bubble-container.bubble-container_2 {
  top: 11%;
  left: 65%;
}

.bubble-container.bubble-container_3 {
  top: 11%;
  left: 40%;
  border-radius: 30px 30px 5px 30px;
}

.bubble-container.bubble-container_4 {
  top: 50%;
  left: 60%;
  border-radius: 5px 30px 30px 30px;
}

.bubble-container > p > span {
  font-weight: 500;
  color: darkred;
}

.bubble-container > button {
  cursor: pointer;
  background: none;
  border: 1px solid rgb(164, 164, 164);
  padding: 8px 14px;
  border-radius: 10px;
}
