.cursor {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  pointer-events: none;
  z-index: 3000;
}

.hover,
.custom {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid rgb(164, 164, 164);
}

.pointer {
  width: 25px;
  height: 25px;
  background: rgb(164, 164, 164);
  border: 2px solid rgb(164, 164, 164);
}

svg {
  height: 3rem;
  width: 3rem;
}

.pointer > svg,
.hover > svg {
  display: none;
}
